{% extends 'base.html' %}

{% block content %}

<div id='info' class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-5 text-center font-weight-bold">PhotoRank - ranking fotografii</h1>
    <br>
    <p class="lead text-center font-weight-bold">Udostępnij ulubione zdjęcie - pozwól innym zagłosować - sprawdź, która fotografia jest najpopularniejsza!</p>
  </div>
</div>

{% for photo in photos.all %}

<div class="row pt-3">
  <div class="col-2" onclick="window.location='{% url 'detail' photo.id %}';" style="cursor: pointer">
    <img src="{{photo.image.url}}" class="img-fluid photoborder">
  </div>
  <div class="col-6" onclick="window.location='{% url 'detail' photo.id %}';" style="cursor: pointer">
    <h2>{{ photo.title }}</h2>
    <p>{{ photo.body }}</p>
  </div>
  <div class="col-2">
    <p class="ramka">Głosy: {{ photo.votes_total }}</p>
  </div>
</div>

<hr>

{% endfor %}



{% endblock %}
