html, body {

	height: auto;

}

body {

	margin: 0px;
	padding: 0px;
	background-color: #D3F4D0;

}

#navbar_custom {


	background-color: #FFFFFF;
	border: 2px solid #1A4C14;
	border-radius: 5px;
	margin:15px;

}

.navbar-toggler {

	background-color: #1A4C14;

}

.navbar-toggler:focus, .navbar-toggler:active {

	outline-color: #FF9A37;
	box-shadow: none;

}

#navbarSupportedContent a {

	font-family: Georgia;
	font-weight: bold;
	color: #1A4C14;

}

#logo {

	border-radius: 40%;
	height: 50px;

}

.content {

	color: #1A4C14;
	margin: 15px;

}

.content h1, h2, h3, h4 {

	color: #1A4C14;

}

.ukryty {

	display: none;

}

.aktywny {

	color: black !important;
	background-color: #FF7F00;
	cursor: pointer;

}

.podswietlony {

	color: #050200 !important;
	background-color: #FF9A37;
	cursor: pointer;

}

.profil {

	width: 200px;
	height: 200px;
	border: 2px solid #FF9A37;
	border-radius: 20px;
	margin-bottom: 30px;

}

.przycisk {

	display: inline-flex;
	border: 2px solid #FF9A37;
	margin: 30px 10px 0px 0px;
	padding-left: 10px;
	padding-right: 10px;
	color: #FF9A37;
	font-weight: bold;
	font-size: 130%;
	border-radius: 20px;

}

.przycisk:hover {

	color: #050200;
	background-color: #FF9A37;
	cursor: pointer;

}

hr {

	border-color: #738990;
	width:99%;

}

.borderless_button {

	border-radius: 50%;
	height: 100px;
	margin-top: 20px;
	margin-bottom: 20px;

}

a {

	text-decoration: none;
	color: #738990;

}

a:hover {

	color: #FF9A37;

}

.nocursor:hover {

	cursor: default;

}
